* {
	color: white;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

#root {
	position: relative
}

.content{
	position: absolute;
	margin-left: 45vw;
	margin-top: 30vh;
	left: 50%;
  margin-left:-70px; /*Half width*/
}

.big--circle {
	padding: 3rem;
	width: 4rem;
	text-align: center;
	aspect-ratio: 1;
	font-size: 4rem;
	border-radius: 10rem;
	background-color: #999;
}

.small--circle {
	padding: 0.3rem;
	width: 4rem;
	aspect-ratio: 1;
	font-size: 3.3rem;
	border-radius: 10rem;
	background-color: #555;
}

.number {
	position: relative;
}

.minus--button {
	position: absolute;
	right: 60%;
	cursor: pointer;
}

.plus--button {
	position: absolute;
	left: 60%;
	cursor: pointer;
}
